<p id="notice"><%= notice %></p>


<div class="principal-products">

  <div class="breadcrumbs">
    <h1>Products</h1>
    <%= link_to 'New Product', new_product_path %>
  </div>

  <div class="products">
    <% @products.each do |product| %>
      <div class="items">
        <h2 class="item-name"><%= product.name %></h2>
        <p class="item-description"><%= reduced_text product.description %></p>
        <div class="options">
          <p class="item-price">
            <strong>Precio:</strong>
            <%= reduced_price product.price %>
          </p>
          <p class="item-stock">
            <strong>Stock:&nbsp;</strong>
            <%= product.stock %>
          </p>
        </div>
      </div>
    <% end %>
  
  </div>


  <br>

</div>
